spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/sweetshop}
    username: ${DB_USER:sweetshop}
    password: ${DB_PASS:sweetshop}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  thymeleaf:
    cache: false
server:
  port: ${SERVER_PORT:8080}

jwt:
  secret: ${JWT_SECRET:change-me-please-change-me-please}
  expiration-ms: ${JWT_EXPIRATION_MS:3600000}
